{% extends 'list.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" enctype="multipart/form-data" style="border-radius: 2px; border: 10px solid white; border-radius: 20px; padding: 28px; margin-block: 35px;">
    {% csrf_token %}
    <h4>{{ form.name|as_crispy_field }}</h4>
    <h4>{{ form.parent|as_crispy_field }}</h4>


    <input class="btn btn-primary" type="submit" value="Create" style="font-size: 35px; color: black; border-color: chartreuse;     margin-top: 25px; background-color: chartreuse;">

</form>
{% endblock %}